<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <!-- General -->
    <category label="30100">
        <!-- Enable Custom Path -->
        <setting id="custom_path"
          type="bool"
          label="30103"
          default="false" />
        <!-- Lutris Executable Path -->
        <setting id="executable"
            type="file"
            label="30101"
            value="/usr/bin/lutris"
            default="/usr/bin/lutris"
            enable="eq(-1,true)"
            subsetting="true" />
        <!-- Display Only Installed Games -->
        <setting id="installed"
            type="bool"
            label="30102"
            default="false" />
        <setting type="sep"/>
        <!-- Open Lutris Application -->
        <setting id="lutris"
            type="action"
            label="30102"
            option="close"
            action="RunScript(script.lutris, action=lutris, id=None, slug=None, name=Lutris)"/>
    </category>
</settings>
