<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <!-- General -->
    <category label="30100">
        <!-- Lutris Executable -->
        <setting id="use_custom_path"
          type="bool"
          label="30103"
          default="false" />
        <!-- Lutris Executable -->
        <setting id="lutris_executable"
            type="file"
            label="30101"
            value="/usr/bin/lutris"
            default="/usr/bin/lutris"
            enable="eq(-1,true)"
            subsetting="true" />
        <!-- Lutris Executable -->
        <setting id="installed"
            type="bool"
            label="30102"
            default="false" />
        <setting type="sep"/>
        <setting id="open_lutris"
            type="action"
            label="Open Lutris Application"
            option="close"
            action="RunScript(script.lutris, action=lutris&name=Lutris)"/>
    </category>
</settings>
