<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <!-- General -->
    <category label="30100">
        <!-- Lutris Executable -->
        <setting id="lutris_executable"
            type="file"
            label="30101"
            value="lutris"
            default="lutris" />

        <!-- Lutris Executable -->
        <setting id="installed"
            type="bool"
            label="30102"
            default="false" />
    </category>
</settings>
